<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.www.vo.ScheduleVO" alias="ScheduleVO" />
		<typeAlias type="global.sesoc.www.vo.MemberVO" alias="MemberVO" />
	</typeAliases>
	<mappers>
		<mapper resource="TwitterMapper.xml" />
		<mapper resource="ScheduleMapper.xml" />
		<mapper resource="memberMapper.xml" />
	</mappers>
</configuration>
