<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 하루 일정  SQL -->
<mapper namespace="global.sesoc.www.dao.ScheduleMapper">
<!-- 일정 등록 -->
<insert id="setSchedule" parameterType="ScheduleVO">
	insert into schedule(
		email
		, snum
		, scontent
		, slocation
		, startdate
		, enddate
	) 
	values(
 		 #{email}
 		, snum_seq.nextval
 		, #{scontent}
 		, #{slocation}
 		, to_date(#{startdate},'yyyy-mm-dd PM hh:MI')
 		, to_date(#{enddate},'yyyy-mm-dd PM hh:MI')
	)
</insert>

<!-- 하루 일정 -->
<select id="getScheduleList" parameterType="hashmap" resultType="ScheduleVO">
select 
		 snum
		 , to_char(startdate, 'PM hh12:mi') as startdate
		 , to_char(enddate, 'PM hh12:mi') as enddate
		 , scontent
from 	
		 schedule 
where 	
		 email like #{email} and to_char(startdate, 'yy/mm/dd') = #{startdate}
order by 
		 startdate asc

</select>

<!-- 한달 일정 -->
<select id="getMonth" parameterType="ScheduleVO" resultType="ScheduleVO" >
select 
		schedulenum
		, email
		, schedulecontent
		, to_char(startdate,'yyyy-mm-dd hh24:MI')startdate
		, to_char(enddate,'yyyy-mm-dd hh24:MI')enddate 
from 
		schedule 
where 
		email = #{email} 
	and 
		startdate 
	between 
		to_date(#{startdate}, 'yyyy-mm-dd') 
	and 
		to_date(#{enddate}, 'yyyy-mm-dd')
</select>

</mapper>